:root{
    --white-color: #fff;
    --black-color: #000;
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    font-family: "Lexend", sans-serif;
}

p{
    font-size: 1.6rem;
    line-height: 1.6rem;
    box-sizing: border-box;
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.gird__row{
    display: flex;
    flex-wrap: wrap;
}
.gird__full-with{
    width: 100%;
}

